/* Estilo para la imagen de fondo */
body {
    background-image: url('images/Background.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

/* Contenedor que centra el logo en el área definida */
.logo-container {
    position: absolute;
    top: 0%;   /* Ajusta hacia arriba en términos relativos */
    left: 2%; /* Ajusta hacia la derecha en términos relativos */
    width: 30vw; /* Ajusta el ancho del área del logo a un 30% del viewport */
    height: auto; /* Mantiene la relación de aspecto */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de la imagen del logo */
.logo {
    max-width: 100%;
    max-height: 100%;
    transform: scale(0); /* Inicia el logo con escala 0 */
    animation: zoomIn 2s forwards; /* Aplica la animación */
}

/* Animación de zoom in */
@keyframes zoomIn {
    to {
        transform: scale(1); /* Escala final del logo */
    }
}
/* Contenedor principal que organiza los logos en una cuadrícula */
.logos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas, 1fr cada una */
    width: 70%;
    margin: 0 auto; /* Centrado en la página */
    padding: 20px;
    height: 50vh;
    padding-top: 25vh;
    padding-left: 42vh;
}

/* Estilo para cada logo individual */
.logo-item {
    display: flex;
    justify-content: right;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 10px;
}

/* Imagen del logo */
.logo-example {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease; /* Transición para el efecto hover */
}

/* Animación al pasar el mouse por encima */
.logo-item:hover .logo-example {
    transform: scale(1.1); /* Zoom del 10% */
}

/* Ajustes responsive */
@media (max-width: 768px) {
    .logos-container {
        grid-template-columns: repeat(1, 1fr); /* En pantallas pequeñas, los logos estarán uno debajo del otro */
    }
}


